env
*__pycache__/
*.egg-info
.ipynb_checkpoints
*/results/
*/data/*.npy
*/plots/*.pdf
wandb
*.zip
*.pt
docs/build

docs/report.pdf
docs/*.aux
docs/*.bbl
docs/*.blg
docs/*.fdb_latexmk
docs/*.fls
docs/*.log
docs/*.out
docs/*.synctex.gz
docs/*.toc
docs/*Notes.bib